@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

body {
  background-color: #d9d0d1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}

#card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 270px;
  height: 280px;
  align-items: center;
  justify-content: start;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

h2 {
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
}