@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

body {
  background-image: url("./img/street-night.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 40px;
  padding: 20px;
  background-color: rgba(0,0,0,0.7);
  width: 90%;
  height: 90%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  color: #E1CFBE;
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 1.6rem;
}

.faq-container {
  position: relative;
  max-width: 700px;
}

.faq {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #E1CFBE;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
}

.faq > div {
  display: flex;
  flex-direction: column;
}

.faq.active {
  background-color: #E1CFBE;
}

.faq .faq-text {
  display: none;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: #7B6E61;
}

.faq-toggle:focus {
  outline: none;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq .faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  display: block;
}

.faq .faq-toggle .fa-chevron-down {
  display: block;
}