@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

body {
  background-color: #dbd3d1;
  color: #402615;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#percentage {
  background-color: #748c7c;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 40px 40px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.6rem;
  transition: 300ms;
}

#remained {
  position: relative;
  top: 0;
}

.glasses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
}

.glass {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-around; */
  margin: 10px;
  border: 4px solid #16261c;
  border-radius: 0 0 40px 40px;
  width: 150px;
  height: 350px;
  transition: 300ms;
  position: relative;
}

.glass.small-glass {
  width: 40px;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

.full {
  background-color: #748c7c;
  color: #16261c;
}